@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.page-header {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-header__logo {
  padding: 24px 0px;
}
.page-header__navigation {
  display: flex;
  justify-content: space-between;
}
.page-header__link--menu {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000;
}
.page-header__link--menu:hover, .page-header__link--menu:focus {
  color: #2196f3;
}
.page-header__link--contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page-header__link--contact:hover, .page-header__link--contact:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media only screen and (max-width: 767px) {
  .page-header__mobile-bar {
    display: flex;
    height: 60px;
    align-items: center;
  }
  .page-header__logo {
    padding: 16px 0px;
  }
  .page-header__menu {
    display: none;
  }
  .page-header__contact {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .page-header__navigation {
    display: flex;
    justify-content: space-between;
  }
  .page-header__logo {
    padding: 26px 0px;
  }
  .page-header__mobile-bar {
    display: none;
  }
  .page-header__left-side {
    display: flex;
  }
  .page-header__right-side {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__menu {
    display: flex;
    gap: 46px;
    margin-left: 83px;
  }
  .page-header__menu-item {
    list-style: none;
  }
  .page-header__contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
  .page-header__contact-item {
    list-style: none;
  }
  .page-header__link--contact {
    font-size: 12px;
    line-height: 1.16666;
    color: #757575;
    fill: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .page-header__link--contact:hover, .page-header__link--contact:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}
@media only screen and (min-width: 1200px) {
  .page-header {
    border-bottom: 1px solid #ececec;
  }
  .page-header__mobile-bar {
    display: none;
  }
  .page-header__left-side {
    display: flex;
  }
  .page-header__right-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__menu {
    display: flex;
    gap: 46px;
    margin-left: 93px;
  }
  .page-header__menu-item {
    list-style: none;
  }
  .page-header__menu .active {
    position: relative;
  }
  .page-header__menu .active::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -31px;
    background: #2196f3;
    border-radius: 2px;
  }
  .page-header__contact {
    display: flex;
    gap: 30px;
  }
  .page-header__contact-item {
    list-style: none;
  }
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  color: #2f303a;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

h5,
h1,
h2 {
  margin: 0;
}

.section {
  padding: 94px 0;
}

.button {
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  margin: auto;
  display: block;
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}
.logo__link {
  color: #2196f3;
  text-decoration: none;
}
.logo__link--header-2nd-color {
  color: #000;
}
.logo__link--footer-2nd-color {
  color: #fff;
}

.slider {
  position: relative;
  z-index: 3;
  background: #2f303a url("../images/ImgsliderImg.jpg") no-repeat center;
}
.slider:after {
  content: "";
  background: rgba(47, 48, 58, 0.4);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slider > * {
  position: relative;
  z-index: 10;
}
.slider__motto {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
}
.slider__button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .slider {
    padding: 118px 0;
  }
  .slider__motto {
    font-size: 26px;
    line-height: 1.61538;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .slider {
    padding: 118px 0;
  }
  .slider__motto {
    font-size: 26px;
    line-height: 1.61538;
  }
}
@media only screen and (min-width: 1200px) {
  .slider {
    padding: 200px 0;
  }
  .slider__motto {
    font-size: 44px;
    line-height: 1.36363;
  }
}
.features {
  width: 100%;
  padding-top: 94px;
}
.features__list--item {
  list-style: none;
}

.feature {
  font-size: 14px;
  letter-spacing: 0.03em;
}
.feature__icon {
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
}
.feature__title {
  font-weight: 700;
  line-height: 1.41;
  text-transform: uppercase;
  margin-top: 30px;
  color: #212121;
}
.feature__desc {
  margin-top: 10px;
  line-height: 1.71;
  color: #757575;
}

@media only screen and (min-width: 380px) and (max-width: 767px) {
  .features {
    padding-top: 60px;
  }
  .features__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .feature {
    display: flex;
    flex-direction: column;
  }
  .feature__icon {
    display: flex;
    justify-content: center;
  }
  .feature__title {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    padding-top: 60px;
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features__list--item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature {
    display: flex;
    flex-direction: column;
  }
  .feature__icon {
    display: flex;
    justify-content: center;
  }
  .feature__title {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
  .features__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .feature {
    display: flex;
    flex-direction: column;
  }
  .feature__icon {
    display: flex;
    justify-content: center;
  }
  .feature__title {
    display: flex;
  }
}
.what-we-do {
  width: 100%;
}
.what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
  color: #212121;
}
.what-we-do .item {
  position: relative;
  list-style: none;
}
.what-we-do .item__label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}
.what-we-do .item__label p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .what-we-do {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .what-we-do__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.our-team {
  background-color: #f5f4fa;
}
.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
  color: #212121;
}
.our-team__items--item {
  list-style: none;
}

.team-card {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card__name {
  font-weight: 500;
  color: #212121;
}
.team-card__workplace {
  color: #757575;
}

.social-media__items {
  padding-bottom: 30px;
}
.social-media__items--item {
  list-style: none;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.social-media__items--item:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background: #2196f3;
  fill: #fff;
}
.social-media__items--icon {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 380px) and (max-width: 767px) {
  .our-team {
    width: 100%;
  }
  .our-team__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .team-card {
    width: 100%;
  }
  .team-card img {
    min-width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    width: 100%;
  }
  .our-team__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .our-team__items--item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team-card {
    width: 100%;
  }
  .team-card img {
    min-width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .our-team {
    width: 100%;
  }
  .our-team__items {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.our-clients {
  width: 100%;
}
.our-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
  color: #212121;
}
.our-clients__items {
  list-style: none;
}
.our-clients__items--item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.our-clients__items--item:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

@media only screen and (min-width: 380px) and (max-width: 767px) {
  .our-clients__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .our-clients__items--item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .our-clients__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .our-clients__items--item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media only screen and (min-width: 1200px) {
  .our-clients__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.filter-bar__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}
.filter-bar__item {
  list-style: none;
}
.filter-bar__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  color: #212121;
}
.filter-bar__button:hover, .filter-bar__button:focus {
  background: #2196f3;
  color: #fff;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-card {
  position: relative;
  background: #fff;
  border: none;
  overflow: hidden;
  margin: 0;
  flex-basis: calc((100% - 60px) / 3);
  width: 100%;
  height: 100%;
}
.portfolio-card:hover .portfolio-card__overlay {
  transform: translatex(0);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.portfolio-card figcaption {
  position: relative;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.portfolio-card img {
  display: block;
  min-width: 100%;
}
.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}
.portfolio-card__overlay > p {
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding-top: 49px;
  padding-left: 24px;
}
.portfolio-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
}
.portfolio-card__type {
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-top: 4px;
}

@media only screen and (min-width: 380px) and (max-width: 767px) {
  .portfolio-card {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .portfolio-card {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.footer__logo {
  padding-bottom: 20px;
}

.contact {
  padding: 0 15px;
}
.contact__address {
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #fff;
}
.contact__list {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}
.contact__list--item {
  list-style: none;
}
.contact__list--link-mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}
.contact__list--link-mail:hover, .contact__list--link-mail:focus {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.contact__list--link-tel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71428;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}
.contact__list--link-tel:hover, .contact__list--link-tel:focus {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-social-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14285;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}
.footer-social-media__list {
  list-style: none;
  gap: 10px;
  display: flex;
}
.footer-social-media__list--item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-social-media__list--item:hover, .footer-social-media__list--item:focus {
  background: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer-social-media__list--item-link {
  text-decoration: none;
  fill: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14285;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}
.newsletter__form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.newsletter__mail {
  width: 358px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px 16px;
}
.newsletter__button {
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  gap: 24px;
}
.newsletter__button--icon {
  fill: #fff;
}

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .footer {
    background-color: #2f303a;
    padding: 60px 0;
  }
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 60px;
  }
  .contact {
    padding: 0 15px;
  }
  .contact__address {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .footer-social-media__title {
    text-align: center;
  }
  .newsletter__title {
    text-align: center;
  }
  .newsletter__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .newsletter__mail {
    width: 450px;
  }
  .newsletter__button {
    flex-direction: row;
    margin: 0 auto;
  }
  .newsletter__button--icon {
    fill: #fff;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    background-color: #2f303a;
    padding: 60px 0;
  }
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 60px;
  }
  .contact {
    padding: 0 15px;
  }
  .contact__address {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .footer-social-media__title {
    text-align: center;
  }
  .newsletter__title {
    text-align: center;
  }
  .newsletter__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .newsletter__mail {
    width: 450px;
  }
  .newsletter__button {
    flex-direction: row;
    margin: 0 auto;
  }
  .newsletter__button--icon {
    fill: #fff;
  }
}
.modal-box {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 10;
}
.modal-box.in {
  transform: scale(1);
}
.modal-box.in .modal-box__background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-box.in .modal-box__background .form-field {
  animation: slideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-box.in.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
.modal-box.in.out .modal-box__background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-box.in.out .modal-box__background .form-field {
  animation: slideOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-box .modal-box__background {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 12;
  background: rgba(0, 0, 0, 0);
}

.form-field {
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form-field__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
}
.form-field__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form-field__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-field__item {
  list-style: none;
  position: relative;
}
.form-field__agreement {
  list-style: none;
  padding-top: 20px;
}
.form-field__input-label {
  font-size: 12px;
  line-height: 1.16666;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}
.form-field__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  outline: none;
  font-size: 12px;
  line-height: 1.1428;
  letter-spacing: 0.01em;
}
.form-field__input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
}
.form-field__input:active, .form-field__input:focus, .form-field__input:hover {
  border-color: #2196f3;
  fill: #2196f3;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:active + .form-field__input-icon, .form-field__input:focus + .form-field__input-icon, .form-field__input:hover + .form-field__input-icon {
  border-color: #2196f3;
  fill: #2196f3;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form-field__textarea:active, .form-field__textarea:focus, .form-field__textarea:hover {
  border-color: #2196f3;
}
.form-field__checkbox {
  position: absolute;
  opacity: 0;
  width: 15px;
  height: 16px;
  transform: translateX(-3px);
  cursor: pointer;
}
.form-field__checkbox:checked + .form-field__icon > .form-field__icon {
  opacity: 1;
}
.form-field__checkbox:checked + .form-field__icon > .form-field__icon--unchecked {
  opacity: 0;
}
.form-field__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 8px;
}
.form-field__link {
  color: #2196f3;
}
.form-field__icon--checked {
  opacity: 0;
  fill: #2196f3;
}

.modal-button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.modal-button__submit {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 76px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .section {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .section {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f303a;
}/*# sourceMappingURL=main.css.map */